@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 32px;
}

.register-container{
    background-color: #333333;
    padding: 32px 48px;
    border-radius: 15px;
    color: white;
    width: 400px;
    box-shadow: 0 0 15px rgb(255, 255, 255, 0.1);
}

.register-container h1{
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-radius: 12px;
    font-size: 32px;
    padding: 10px;
    margin-bottom: 32px;
    
}

.register-container label{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    background-color: rgb(15, 15, 15);
    width: 100%;
    padding: 12px;
    font-size: 17.5px;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px;
}

.register-container button.submit-button {
    background-color: rgb(15, 15, 15);
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.register-container button.submit-button:hover{
    background-color: #555;
}

.register-container button.submit-button:active{
    background-color: #777;
    transform: scale(0.98);
}

