*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#00cc00 ;
}

.subscription-container{
    background-color: #000;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    color: #00cc00;
    border: 2px solid #00cc00;
}

.subscription-container h2{
    font-size: 22px;
    margin-bottom: 28px;
}

.subscription-form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
}

.subscription-form input[type="email"]{
    padding: 12px;
    border: 1px solid #00cc00;
    background-color: #000;
    color: #00cc00;
    border-radius: 6px;
}

.subscription-form button{
    padding: 12px;
    background-color: #000;
    color: #00cc00;
    border: 1px solid #00cc00;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.subscription-form button:hover{
    background-color: #00cc00;
    color: #000;
}

.info-text{
    font-size: 14px;
    color: #00cc0099;
}
