@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
html,body {
  height: 100%;
}
 
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.todo-list-container {
  background-image: linear-gradient(to bottom right, #eaf4ff, #c7e0ff);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.todo-list-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
}

.todo-list-container h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

#todo-list {
  list-style-type: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 10px;
}

.todo-item label {
  flex-grow: 1;
  margin-left: 10px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.todo-item.completed label {
  text-decoration: line-through;
  color: gray;
}
